.tbthread{
		width:99%;
		min-height:33px;
		box-shadow:  3px 3px 3px #C7C3B1;
		z-index:1;
		margin-bottom: 20px;
		float:left;
		margin:10px 0.6% 10px 0.7%;
}
.tbthread thead{
		background: #669;
		width:100%;
		margin:0;
}

.tbthread thead .title{
		width:60%;
}
.tbthread thead .user{
		width:20%;
		text-align:right;
}
.tbthread thead .date{
		text-align:right;
		width:20%;
}
.tbthread tbody{
		text-align:justify;
		width:100%;
		border-top: 1px blue solid;
}
